
<div class="container podium mx-auto">
  <div class="podium__item ">
    <p class="podium__city"> </p>
    <div class="podium__rank second">{{podium[0].username}}  <br/> {{podium[0].score}}</div>
  </div>
  <div class="podium__item">
    <p class="podium__city"></p>
    <div class="podium__rank first">
        {{podium[1].username}}  <br/> {{podium[1].score}}
    </div>
   </div>
   <div class="podium__item">
    <p class="podium__city"></p>
    <div class="podium__rank third">{{podium[2].username}}  <br/> {{podium[2].score}}</div>
  </div>
</div>



